# JavaBeasts-BBDD
JavaBeasts-BBDD/data/db/mysql/*
!JavaBeasts-BBDD/data/db/.gitkeep

JavaBeasts-BBDD/.env
JavaBeasts-Backend/.env
deploy/env/local.env
deploy/env/cloud.env

# JavaBeasts-Backend
JavaBeasts-Backend/src/main/java/com/marcos/javabeasts_backend/Testing.java
JavaBeasts-Backend/.idea/
JavaBeasts-Backend/target/
JavaBeasts-JavaFX/.idea/
JavaBeasts-JavaFX/target/

.idea/

JavaBeasts-Mobile/.env
